annotated-types==0.7.0
aws-lambda-powertools==3.3.0
boto3==1.35.62
boto3-stubs==1.35.62
botocore==1.35.62
botocore-stubs==1.35.62
iniconfig==2.0.0
jmespath==1.0.1
mypy-boto3-bedrock-runtime==1.35.56
mypy-boto3-dynamodb==1.35.60
mypy-boto3-sqs==1.35.0
mypy-boto3-sts==1.35.61
packaging==24.2
pluggy==1.5.0
pydantic==2.9.2
pydantic_core==2.23.4
pytest==8.3.3
python-dateutil==2.9.0.post0
ruff==0.7.4
s3transfer==0.10.3
six==1.16.0
syrupy==4.7.2
types-awscrt==0.23.0
types-s3transfer==0.10.3
typing_extensions==4.12.2
urllib3==2.2.3
